---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'blog'>;

const { slug } = Astro.props;
const article = Astro.props.data;
const category = (await getCollection('category')).find(category => category.slug === article.category)!;
const author = (await getCollection('author')).find(author => author.slug === article.author)!;
---

<div class="block m-2 p-6 bg-white border border-gray-200 rounded-lg shadow">
  <a href={`/blog/${slug}`}>
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{article.title}</h3>
  </a>
  <p class="font-normal text-gray-700 dark:text-gray-400 mb-2">
    🚀 <FormattedDate date={article.pubDate} />
    { article.updatedDate && <>♻️ <FormattedDate date={article.updatedDate} /></> }
  </p>
  <div class="flex font-normal text-gray-700 dark:text-gray-400 items-center gap-2">
    <a href={`/author/${author.slug}`}><img class="w-8 h-8 rounded-full" src={author.data.image} alt="{author.data.name}"></a>
    <a href={`/author/${author.slug}`}>{author.data.name}</a>
    <a href={`/category/${category.slug}`}><img class="w-8 h-8 rounded" src={category.data.image} alt="{author.data.name}"></a>
    <a href={`/category/${category.slug}`}>{category.data.name}</a>
  </div>
</div>
