---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author: authorSlug, category: categorySlug } = Astro.props;
const category = (await getCollection('category')).find(category => category.slug === categorySlug)!;
const author = (await getCollection('author')).find(author => author.slug === authorSlug)!;
---

<BaseLayout>
	<article>
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<h1 class="text-2xl font-black">{title}</h1>
		<p class="font-normal text-gray-700 dark:text-gray-400 mb-2">
			🚀 <FormattedDate date={pubDate} />
			{ updatedDate && <>♻️ <FormattedDate date={updatedDate} /></> }
		</p>
		<div class="flex font-normal text-gray-700 dark:text-gray-400 items-center gap-2">
			<a href={`/author/${author.slug}`}><img class="w-8 h-8 rounded-full" src={author.data.image} alt="{author.data.name}"></a>
			<a href={`/author/${author.slug}`}>{author.data.name}</a>
			<a href={`/category/${category.slug}`}><img class="w-8 h-8 rounded" src={category.data.image} alt="{author.data.name}"></a>
			<a href={`/category/${category.slug}`}>{category.data.name}</a>
		</div>
		<hr class="m-4">
		<slot />
	</article>
</BaseLayout>

