---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author: authorSlug, category: categorySlug } = Astro.props;
const category = (await getCollection('category')).find(category => category.slug === categorySlug);
const author = (await getCollection('author')).find(author => author.slug === authorSlug);
---

<BaseLayout>
	<article>
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<h1 class="text-2xl font-black">{title}</h1>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		{author && <p>書いた人: <a href={`/author/${authorSlug}`}>{author.data.name}</a></p>}
		{category && <p>カテゴリ: <a href={`/category/${categorySlug}`}>{category.data.name}</a></p>}
		<hr />
		<slot />
	</article>
</BaseLayout>
